<div class="card mt-5">
	<div class="card-header p-3 text-center">Welcome to our world</div>
	<div class="card-body">
		<a href="/instructor/register" class="btn btn-primary">Register/Login as Instructor</a>
		<a href="/student/register" class="btn btn-primary float-right">Register/Login as Student</a>
	</div>
</div>