<div>
  <%- include('message') -%>
</div>
<div class="card mt-5">
  <div class="card-header p-3 text-center">Login as Student</div>
  <div class="card-body">
    <form action="/student/login" method="POST">
        <div class="form-group">
          <label for="email">Email</label>
          <input type="email" id="email" name="email" class="form-control" placeholder="Enter Email" />
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" id="password" name="password" class="form-control" placeholder="Enter Password"
          />
        </div>
        <button type="submit" class="btn btn-primary">Login</button>
      </form>
      <p class="lead mt-4">
        No Account? <a href="/student/register">Register</a>
      </p>
  </div>
</div>